@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 15px 0;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.5em; }

.reveal h2 {
  font-size: 1.2em; }

.reveal h3 {
  font-size: 1.1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

.reveal {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #555; }


body {
  background: #C1E1EC;
  background-color: #C1E1EC;
}

.reveal blockquote {
  width: 100%;
  font-style: normal;
  box-shadow: none;
}

.reveal blockquote p {
  margin-top: -3em;
  margin-left: 2em;
}

.reveal blockquote:before {
  content: "\201C";
  font-family: Garamond;
  font-size: 3em;
  position: relative;
}

.reveal .slides {
  text-align: left;
}

.reveal figure {
  text-align: center;
}

.reveal figure {
  text-align: center;
}

.reveal ul {
  list-style-type: none;
  margin: 0;
}

.reveal ul li:before {
    content: "\2605";
    position: relative;
    top: -.3em;
    padding-right: .5em;
    font-size: 0.5em;
}
